#invoice-form-window {
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  margin: 0 30px 30px 30px;
  width: 750px;
  background-color: rgba(255, 255, 255, 0.7);
}

#invoice-page-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translateX(-40px);
  margin-bottom: 40px;

}

.client-form-group,
#date-form-group {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-left: 30px;
}

#date-form-group {
  width: 280px;
}

.client-form-group input {
  width: 220px;
}

.form-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-item {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

#item-window {
  margin: 30px 0 0 30px;
}

.items-field {
  display: flex;
}

.field-desc {
  margin-right: 110px;
  margin-left: 30px;
}

.field-quant {
  margin-right: 30px;
}

.field-price {
  margin-right: 65px;
}

.field-tva {
  margin-right: 60px;
}

.field-mnt-tva {
  margin-right: 30px;
}

#add-client-button,
#add-item-button {
  display: flex;
  // margin: 30px 0px 20px 0;
}

h2, h3 {
  margin-right: 20px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  margin-bottom: 50px;
}

h2 {
  text-decoration: underline;
  text-underline-offset: 5px;
}


#add-client-button button,
#add-item-button button {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c4f5e1;
  background-color: #004743c4;
  border-radius: 50%;
  border: 2px solid #0a9c95;
  font-size: x-large;
  font-weight: 800;
  transition: background-color 0.6s ease, color 0.6s ease;
}

#add-client-button button:hover,
#add-item-button button:hover {
  background-color: #0d9992cb;
  color: #effffe;
  transition: background-color 0.1s ease, color 0.1s ease;
}

.invalid-field {
  border: 2px solid #ac4d39;
  box-shadow: 0 0 5px #e54d2e;
}

.legend {
  margin: 20px 0;
}

label span,
.legend {
  color: #e54d2e;
}

.legend p {
  font-size: smaller;
}

#client-search-window {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 600px;
  margin-bottom: 30px;
}

#client-search-item {
  display: flex;
  margin-left: 30px;
}

#client-search-item input:disabled {
  background-color: rgba(0, 0, 0, 0.1);
}

#client-search-item label {
  margin-right: 20px;
}

#save-button {
  max-width: 650px;
  margin: 80px 0 30px 0;
  display: flex;
  justify-content: center;
}

#client-form-buttons button,
#save-button button {
  color: #c4f5e1;
  border-radius: 5px;
  border: 2px solid #277f70;
  align-items: center;
  justify-content: center;
  //background-color: #A8F5E5;
  background-color: #004744;
  padding: 5px 10px;
  text-align: center;
}

#client-form-buttons button:hover,
#save-button button:hover {
  background-color: #277f70;
  transition: background-color 0.3s ease;
}

#save-button button:disabled,
#client-form-buttons button:disabled {
  color: rgba(0, 0, 0, 0.5);
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
}

.client-chosen {
  background-color: #c4f5e1;
}

#new-client-window {
  margin: 30px;
}

#client-form-buttons button {
  margin-right: 20px;
}

// ********************************** AUTOCOMPLETION NOM CLIENT : **********************************

.autocomplete-list {
  position: absolute;
  // transform: translate(-2px,-3px);
  background-color: #f7fffd;
  width: 169px;
  max-height: 200px;
  white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
  overflow: hidden; /* Masque tout texte dépassant la largeur du conteneur */
  text-overflow: ellipsis; /* Affiche une ellipse (...) à la fin du texte coupé */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ajout d'une ombre légère */
  overflow-y: auto; /* Ajout de la barre de défilement vertical si nécessaire */
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.autocomplete-list div {
  font-family: "Times New Roman", Times, serif;
  padding: 5px;
}

.autocomplete-list div:hover {
  background-color: #008f8854;
}
