.header {

    background-color: rgb(117, 212, 250);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

menu, ul {
    display: flex;
    list-style: none;
    padding: 0;
    width: 400px;
  }
  
  li {
    flex-grow: 1;
  }

 button {
    border: 0;
    line-height: 2;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: rgb(27, 17, 17);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.856);
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

button:hover {
    background-color: rgb(255, 228, 108);
}

button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

  
 