<div class="search-pages">
  <div class="search-bar">
    <form [formGroup]="invoiceForm">
      <div class="form-group">
        <div class="form-item">
          <label for="numero">Numero</label>
          <input type="text" formControlName="invNumber" />
        </div>
        <div class="form-item">
          <label for="nomClient">Nom Client</label>
          <div>
            <input
              type="text"
              formControlName="clientName"
              autocomplete="off"
              (focus)="onInputFocus()"
            />
            <div class="autocomplete-list" *ngIf="isInputNameFocused">
              <div
                *ngFor="let clientName of filteredClientsName"
                (click)="onClientSelect(clientName)"
              >
                {{ clientName }}
              </div>
            </div>
          </div>
        </div>
        <div class="form-item">
          <div class="checkbox">
            <label for="checkboxDate">Date Emission</label>
            <input
              type="checkbox"
              name="checkboxDate"
              (click)="onCheckboxDate()"
            />
          </div>
        </div>
      </div>
      <div class="date-delimiter">
        <div
          class="form-item"
          [ngStyle]="{ display: isDatesVisible ? 'flex' : 'none' }"
        >
          <label for="dateMin">Min</label>
          <input type="date" name="dateMin" formControlName="minDate" />
        </div>
        <div
          class="form-item"
          [ngStyle]="{ display: isDatesVisible ? 'flex' : 'none' }"
        >
          <label for="dateMax">Max</label>
          <input type="date" name="dateMax" formControlName="maxDate" />
        </div>
      </div>
      <div class="search-button">
        <button type="submit" (click)="onInvoicestSearchFormSubmit()">
          Filtrer
        </button>
      </div>
    </form>
  </div>
  <div class="invoices-list">
    <app-invoices-list [invoicesList]="invoices"></app-invoices-list>
  </div>
</div>
