<div class="search-bar">
  <div class="search-group">
    <label for="numero">Numero</label>
    <input type="text" name="numero" />
  </div>
  <div class="search-group">
    <label for="nomClient">Nom Client</label>
    <input type="text" name="nomClient" />
  </div>
  <div class="search-group">
    <label for="dateMin">Date Emission</label>
      <input type="date" name="dateMin"/>
  </div>
  <div class="search-group">
    <label for="dateMax"></label>
    <input type="date" name="dateMax"/>
  </div>
</div>


