<header>
  <div class="header">
    <div class="menu">
      <img src="./assets/MATT-RENO_logo.png" alt="logo MATT-RENO" />
      <nav>
        <ul>
          <li>
            <a
              routerLink=""
              >Accueil</a
            >
          </li>
          <li>
            <a>Clients</a>
          </li>
          <li>
            <a>Devis</a>
          </li>
          <li>
            <a
              routerLink="invoices"
              >Facture</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="connection-link">
      <a>Connexion</a>
    </div>
  </div>
</header>
