.header {
  background-color: rgb(159, 250, 241);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0 20px 0;
}

.header img {
    width: 20%;
}

nav {
  margin-left: 5%;
}

