<div class="landing-block">
  <div class="landing-card">
    <p>
      Bienvenue sur Matt'Reno, une application de facturation intuitive et
      complète !
    </p>

    <ul>
      <li>
        <img src="/assets/invoiceIcon.png" title="invoice icon" />
        <p>Création facile de factures professionnelles</p>
      </li>
      <li>
        <img src="/assets/searchIcon.png" title="search icon" />
        <p>Recherche rapide de factures et de clients</p>
      </li>
      <li>
        <img src="/assets/clientIcon.png" title="client icon" />
        <p>Gestion complète des clients et de leurs informations</p>
      </li>
      <li>
        <img src="/assets/estimateIcon.png" title="estimate icon" />
        <p>Création et personnalisation de devis pour vos projets</p>
      </li>
      <li>
        <img src="/assets/paymentIcon.png" title="payment icon" />
        <p>Suivi détaillé des factures et des paiements</p>
      </li>
      <li>
        <img src="/assets/saveIcon.png" title="save icon" />
        <p>Stockage sécurisé des données et sauvegardes régulières</p>
      </li>
      <li>
        <img src="/assets/notifIcon.png" title="notif icon" />
        <p>
          Notifications automatiques pour les échéances et les paiements en
          retard
        </p>
      </li>
    </ul>
  </div>
</div>
