.search-pages {
  display: flex;
  flex-direction: row;
}

.search-bar {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  padding: 30px;
  margin: 0 15px 0 30px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-item {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  justify-content: space-between;
}

label {
  margin-right: 20px;
}

.invalid-field {
  border: 2px solid #ac4d39;
  box-shadow: 0 0 5px #e54d2e;
}

.autocomplete-list {
  position: absolute;
  // transform: translate(-2px,-3px);
  background-color: #f7fffd;
  width: 169px;
  max-height: 200px; 
  white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
  overflow: hidden; /* Masque tout texte dépassant la largeur du conteneur */
  text-overflow: ellipsis; /* Affiche une ellipse (...) à la fin du texte coupé */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ajout d'une ombre légère */
  overflow-y: auto; /* Ajout de la barre de défilement vertical si nécessaire */
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.autocomplete-list div {
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
}

.autocomplete-list div:hover {
    background-color:#008f8854;
}

#search-button {
  display: flex;
  justify-content: flex-end;
}

#search-button button {
  color: #C4F5E1;
  border-radius: 5px;
  border: 2px solid #277F70;
  align-items: center;
  justify-content: center;
  //background-color: #A8F5E5;
  background-color: #004744;
  padding: 5px 10px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#search-button button:hover {
  background-color: #277F70;
  transition: background-color 0.3s ease;
}