.item-card {
  margin: 10px 0px 10px 0px;
  padding: 0;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.id {
  text-align: center;
  width: 30px;
}

.description {
  width: 170px;
  margin-right: 10px;
}

.quantite {
  width: 40px;
  margin-right: 10px;
}

.montants {
  padding: 1px;
  background-color: rgba(152, 224, 255, 0.91);
  text-align: center;
  font-size: 90%;
  width: 80px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin-right: 10px;
}
.prix {
  width: 75px;
  margin-right: 10px;
}

.taux-tva {
  margin-right: 10px;
}


