<div class="item-card">
  <form [formGroup]="itemForm" (ngSubmit)="onItemFormSubmit()">
    <div class="form-group">
      <div class="id">
        {{ item.id }}
      </div>
      <input type="text" formControlName="nom" class="description" id="nom" />
      <input
        type="number"
        min="0"
        formControlName="quantite"
        class="quantite"
        id="quantite"
      />
      <input
        type="number"
        min="0"
        formControlName="prix"
        class="prix"
        id="prix"
      />
      <select type="number" formControlName="tva" class="tva" id="tva">
        <option value="0">Auncune</option>
        <option value="20">20%</option>
        <option value="10">10%</option>
        <option value="5">5%</option>
      </select>
      <div class="montants">
        <p>{{ item.mntTVA | currency : "EUR" : "symbol" }}</p>
      </div>
      <div class="montants">
        <p>{{ item.total | currency : "EUR" : "symbol" }}</p>
      </div>
      <div class="delete-button">
        <button type="button" (click)="onDeleteItem(item.id)">
          <span>x</span>
        </button>
      </div>
    </div>
  </form>
</div>
