.item-card {
  margin: 10px 0px 10px 0px;
  padding: 0;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.id {
  text-align: center;
  width: 30px;
}

.description {
  width: 170px;
  margin-right: 10px;
}

.quantite {
  width: 40px;
  margin-right: 10px;
}

.montants {
  display: flex;
  flex-direction: row;
  color:  #611623;
  background-color: #fdecef;
  border: 2px solid #611623;
  justify-content: center;
  padding: 5px 5px 0 5px;
  font-size: 90%;
  font-weight: 600;
  width: 80px;
  height: 20px;
  border-radius: 5px;
  margin-right: 10px;
}

.montants p {
  transform: translateY(-40%);
}
.prix {
  width: 75px;
  margin-right: 10px;
}

.tva {
  align-items: center;
  margin-right: 10px;
  height: 28px;
  border: 2px solid rgba(18, 25, 124, 0.5);
  border-radius: 5px;
}

.delete-button button {
  height: 26px;
  width: 26px;
  color: #E5484D;
  background-color: #fddbdb;
  border: none;
  border-radius: 50%;
  margin-left: 10px;
}

.delete-button button:hover {
  color:  #fff9f9;
  background-color:  #E5484D;
  transition: color 0.2s ease, background-color 0.2s ease;
}

.delete-button span {
  // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: absolute;
  transform: translate(-50%, -58%) rotate(-1deg);
  font-weight: 800;
  font-size: large;
}
