.item-card {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    width: 220px;
}

.mnt {
width: 60px;
}

input {
    width: 25px;
}