<div class="item-card">
  <form [formGroup]="itemForm" (ngSubmit)="onItemFormSubmit()">
    <div class="form-group">
      <div class="item-id">
        {{ item.id }}
      </div>
      <div class="form-item">
        <input type="text" formControlName="nom" class="description" />
      </div>
      <div class="form-item">
        <!-- <label for="quantite">Quantite</label> -->
        <input type="text" formControlName="quantite" />
      </div>
      <div class="form-item">
        <!-- <label for="prix">Prix</label> -->
        <input type="text" formControlName="prix" class="mnt"/>
        <!-- <p>{{  | currency: 'EUR':'code' }}</p> -->
      </div>
      <div class="form-item">
        <!-- <label for="TVA">TVA</label> -->
        <input type="checkbox" formControlName="TVA" />
      </div>
      <div class="form-item">
        <!-- <label for="pays">Montant TVA</label> -->
        <input type="text" formControlName="mntTVA" class="mnt" />
        <!-- <p>{{  | currency: 'EUR':'code' }}</p> -->
      </div>
      <div class="form-item">
        <!-- <label for="total">Total</label> -->
        <input type="text" formControlName="total" class="mnt" />
        <!-- <p>{{  | currency: 'EUR':'code' }}</p> -->
      </div>
      <div class="delete-button">
        <button (click)="onDeleteItem()">x</button>
      </div>
    </div>
  </form>
</div>
