<div class="display-page">
  <div id="invoice-display">
    <div class="invoice-header">
      <h1>Facture {{ invoice?.numero }}</h1>
    </div>
    <div class="invoice-details">
      <div class="invoice-from">
        <h4>De:</h4>
        <p>QUILLET Thomas</p>
        <p>3 Chemin des Dupond</p>
        <p>Noumea, 98800</p>
        <p>Nouvelle-Calédonie</p>
      </div>
      <div class="invoice-to">
        <h4>À:</h4>
        <p>{{ invoice?.client?.nom }}</p>
        <p>{{ invoice?.client?.adresse }}</p>
        <p>{{ invoice?.client?.ville }}, {{ invoice?.client?.codePostal }}</p>
        <p>{{ invoice?.client?.pays }}</p>
        <p>SIREN/SIRET : {{ invoice?.client?.siren_siret }}</p>
      </div>
    </div>
    <div id="invoice-dates">
      <div>
        <label for="dateEmission">Date Emission :</label>
        <p>{{invoice?.dateEmission | date : "dd/MM/yyyy"}}</p>
      </div>
      <div>
        <label for="dateEcheance">Date Echeance :</label>
        <p>{{invoice?.dateEcheance | date : "dd/MM/yyyy"}}</p>
      </div>
    </div>
    <table class="item-table">
      <thead>
        <tr>
          <th>Description</th>
          <th>Quantité</th>
          <th>Prix unitaire (€)</th>
          <th>TVA (%)</th>
          <th>Montant TVA (€)</th>
          <th>Total (€)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of invoice?.invoiceItems">
          <td>{{ item.nom }}</td>
          <td>{{ item.quantite }}</td>
          <td>{{ item.prix | currency : "EUR" | slice : 0 : -1 }}</td>
          <td>{{ item.tva }}</td>
          <td>{{ item.mntTVA | currency : "EUR" | slice : 0 : -1 }}</td>
          <td>{{ item.total | currency : "EUR" | slice : 0 : -1 }}</td>
        </tr>
      </tbody>
    </table>
    <div class="invoice-total">
      <div id="total-ht">
        <label for="total HT">Total HT</label>
        <div class="ligne"></div>
        <p>{{ invoice?.totalHT | currency : "EUR" }}</p>
      </div>
      <div id="total-ttc">
        <label for="total TTC">Total TTC</label>
        <div class="ligne"></div>
        <p>{{ invoice?.total | currency : "EUR" }}</p>
      </div>
    </div>
  </div>
  <div id="handle-buttons">
    <button (click)="onPreviousPage()">
      <img id="icon-fermer" src="./assets/fermer.png" alt="" />
    </button>
    <button type="button" (click)="convertToPDF()">
      <img id="icon-dlPDF" src="./assets/dlPDF.png" alt="" />
    </button>
  </div>
</div>
