<div class="bills-block">
    <div class="search-filter">
        <form class="search-filter-form">
            <label for="bill-name">Nom facture</label> 
            <input type="search">
            <label for="min-date">Date min</label>
            <input type="date">
            <label for="max-date">Date max</label>
            <input type="date">
            <input type="submit" value="Rechercher">
          </form>
    </div>
    <div class="bill-form">
        <form action="">
            <input type="date">
            <input type="number">
            <input type="radio">
            <input type="checkbox">
            <input type="reset">
            <input type="submit">
        </form>
    </div>

</div>

